####	Active Directory Domain Services Tool [ADDS]	####
####		Configuration File							####

# Schema version for the configuration file
$CONFIG_SCHEMA_VERSION=1.0.0


###############################################################################
# MAIN CONFIGURATION SECTION
###############################################################################


# Logging
## $LOGPATH can include windows variable
$LOGPATH=%APPDATA%\ADDS
$SESSION_LOG=ADDS_Tool_Active_Session.log
$SEARCH_SESSION_LOG=ADDS_Tool_Session_Search.log
$LAST_SEARCH_LOG=ADDS_Tool_Last_Search.log
$ARCHIVE_LOG=ADDS_Tool_Session_Archive.log
$ARCHIVE_SEARCH_LOG=ADDS_Tool_Search_Archive.log


# Search Defaults
## AD limit
$sLimit=0
$AD_BASE=domainroot
$AD_SCOPE=subtree


# Credentials
##	Only for workgroup computer
$DOMAIN_USER=
# Use "*" to be prompted
$DOMAIN_USER_PASSWORD=


###############################################################################
#		*******************
#		 Advanced Settings
#		*******************
###############################################################################

# DEBUG
# {0 [Off/No] , 1 [On/Yes]}
$DEGUB_MODE=0

# Suppress_Verbose Output on searches
#	0=Off {no}; 1=On {yes}
$SUPPRESS_VERBOSE=0

# Sort --the search results
# {0 [No] , 1 [Yes]}
$SORTED=1

#	Keep all logs
#	{Yes, No}
$KPLOG=Yes




####	FOOTER		###########################################################

:::: Developer ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:: Author:		David Geeraerts
:: Location:	Olympia, Washington USA
:: E-Mail:		dgeeraerts.evergreen@gmail.com
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

:::: GitHub :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
::	https://github.com/DavidGeeraerts/ADDS_Tool
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

:::: License ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
:: Copyleft License(s)
:: GNU GPL v3 (General Public License)
:: https://www.gnu.org/licenses/gpl-3.0.en.html
:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::